#unten {
  width:100px;
  height:100px;
  z-index:0;
}

#oben {
  position:absolute;
  top:300px;left:544px;
  z-index:1;
}
#Text {
	 font-family: 'Titillium Web', sans-serif;
    position: absolute;
    left: 40px;
    bottom: 0px;
}
