#spielstand{
  font-family: 'Titillium Web', sans-serif;
  background-color: white;
  text-align: left;
  font-size: 48px;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}
#button{
  font-family: 'Titillium Web', sans-serif;
  font-size: 48px;
  text-align: center;
    background-color: white;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}
table {
       width:100%;
     }
input[type=image]{
	width: 200px;

	display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
